<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="questionDAO" class="ru.otus.springframework.quiz.question.QuestionCSV">
        <constructor-arg value="/data/questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.springframework.quiz.question.QuestionServiceImpl">
        <constructor-arg ref="questionDAO"/>
    </bean>

    <bean id="ioService" class="ru.otus.springframework.quiz.io.IOServiceImpl">
        <constructor-arg>
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
        <constructor-arg>
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="authService" class="ru.otus.springframework.quiz.auth.IOAuthService">
        <constructor-arg ref="ioService"/>
        <constructor-arg value="What's your first name?"/>
        <constructor-arg value="What's your last name?"/>
    </bean>

    <bean id="answerService" class="ru.otus.springframework.quiz.answer.IOAnswerService">
        <constructor-arg ref="ioService"/>
    </bean>

    <util:map id="reportMessageMap" value-type="java.lang.String">
        <entry key="headerText"    value="Quiz report for"/>
        <entry key="resultText"    value="Result"/>
        <entry key="actualText"    value="Actual"/>
        <entry key="expectedText"  value="Expected"/>
        <entry key="correctText"   value="+"/>
        <entry key="incorrectText" value="-"/>
    </util:map>

    <bean id="reportMessages" class="ru.otus.springframework.quiz.report.IOReportMessages">
        <constructor-arg ref="reportMessageMap"/>
    </bean>

    <bean id="reportService" class="ru.otus.springframework.quiz.report.IOReportService">
        <constructor-arg ref="ioService"/>
        <constructor-arg ref="reportMessages"/>
    </bean>

    <bean id="quizApp" class="ru.otus.springframework.quiz.QuizApplication">
        <constructor-arg ref="questionService"/>
        <constructor-arg ref="authService"/>
        <constructor-arg ref="answerService"/>
        <constructor-arg ref="reportService"/>
    </bean>

</beans>