.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a, a:focus {
  color: black;
}

a.inactive, a:focus.inactive {
  color: grey;
}

a:hover {
  color: black !important;
}

table {
  width: 100%;
}

table a, table a:focus {
  color: #34495e;
}

thead {
  border-bottom: 1px solid grey;
}

td {
  border-bottom: 1px solid lightgrey;
}

td, th{
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

tr {
  display: flex;
}

.navbar {
  padding-left: 15%;
  background-color: #f5f5f6;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  z-index: 1;
}

.navbar-nav > li > a {
  font-size: 18px;
}

ul.nav {
  flex-direction: row;
}

main.container {
  margin-top: 100px;
}

section.container {
  margin-top: 30px;
}

.action:not(:hover) {
  opacity: 0.3;
}

form {
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}


.btn {
  color: #34495e;
  border: 1px solid grey;
}

.btn:hover {
  color: black;
}

.btn:focus {
  color: black;
  box-shadow: 0 0 0 .2rem lightgrey;
}

select {
  color: #34495e;
}

select option:checked {
  background: grey linear-gradient(0deg, grey 0%, grey 100%);
}

select.error {
  border-color: red;
}

textarea {
  color: #34495e;
}

.fui-cross-circle {
  opacity: 0.5;
}
